<a href="https://colab.research.google.com/github/abhishekrajk/Market-Segmentation/blob/main/EV_market_under_Demographic_criteria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EV_market_under_Demographic_criteria**

In [66]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [67]:
dataset = pd.read_csv(r"/content/Final Dataset-EV.csv")

In [68]:
print(dataset.columns)
print(dataset.shape)
print(dataset.head(10))

Index(['Unnamed: 0', 'Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PlugType',
       'BodyStyle', 'Segment', 'Seats', 'PriceRupees'],
      dtype='object')
(103, 14)
   Unnamed: 0        Brand                          Model  AccelSec  \
0           0       Tesla   Model 3 Long Range Dual Motor         5
1           1  Volkswagen                       ID.3 Pure        10
2           2    Polestar                               2         5
3           3         BMW                            iX3          7
4           4       Honda                              e         10
5           5       Lucid                            Air          3
6           6  Volkswagen                         e-Golf         10
7           7     Peugeot                          e-208          8
8           8       Tesla     Model 3 Standard Range Plus         6
9           9        Audi                      Q4 e-tron          6

   TopSpeed_KmH  Range_Km  Efficiency_WhKm  FastCharge_KmH RapidCharge  \
0           233       450              161             940         Yes
1           160       270              167             250          No
2           210       400              181             620         Yes
3           180       360              206             560         Yes
4           145       170              168             190         Yes
5           250       610              180             620         Yes
6           150       190              168             220          No
7           150       275              164             420          No
8           225       310              153             650         Yes
9           180       400              193             540         Yes

     PlugType  BodyStyle Segment  Seats  PriceRupees
0  Type 2 CCS      Sedan       D      5   5024879.08
1  Type 2 CCS  Hatchback       C      5   2717130.00
2  Type 2 CCS   Liftback       D      5   5111827.24
3  Type 2 CCS        SUV       D      5   6162450.84
4  Type 2 CCS  Hatchback       B      4   2988571.29
5  Type 2 CCS      Sedan       F      5   9509955.00
6  Type 2 CCS  Hatchback       C      5   2889214.90
7  Type 2 CCS  Hatchback       B      5   2688328.42
8  Type 2 CCS      Sedan       D      5   4200682.98
9  Type 2 CCS        SUV       D      5   4981405.00

In [69]:
dataset.head(5)

,Unnamed: 0,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PlugType,BodyStyle,Segment,Seats,PriceRupees
0,0,Tesla,Model 3 Long Range Dual Motor,5,233,450,161,940,Yes,Type 2 CCS,Sedan,D,5,5024879.08
1,1,Volkswagen,ID.3 Pure,10,160,270,167,250,No,Type 2 CCS,Hatchback,C,5,2717130.00
2,2,Polestar,2,5,210,400,181,620,Yes,Type 2 CCS,Liftback,D,5,5111827.24
3,3,BMW,iX3,7,180,360,206,560,Yes,Type 2 CCS,SUV,D,5,6162450.84
4,4,Honda,e,10,145,170,168,190,Yes,Type 2 CCS,Hatchback,B,4,2988571.29

In [70]:
dataset.columns

Index(['Unnamed: 0', 'Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PlugType',
       'BodyStyle', 'Segment', 'Seats', 'PriceRupees'],
      dtype='object')

In [71]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Iterate through each column and apply label encoding
for column in dataset.columns:
    if dataset[column].dtype == 'object':  # Check if the column contains categorical data
        dataset[column] = label_encoder.fit_transform(dataset[column])

In [72]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       103 non-null    int64
 1   Brand            103 non-null    int64
 2   Model            103 non-null    int64
 3   AccelSec         103 non-null    int64
 4   TopSpeed_KmH     103 non-null    int64
 5   Range_Km         103 non-null    int64
 6   Efficiency_WhKm  103 non-null    int64
 7   FastCharge_KmH   103 non-null    int64
 8   RapidCharge      103 non-null    int64
 9   PlugType         103 non-null    int64
 10  BodyStyle        103 non-null    int64
 11  Segment          103 non-null    int64
 12  Seats            103 non-null    int64
 13  PriceRupees      103 non-null    float64
dtypes: float64(1), int64(13)
memory usage: 11.4 KB

In [73]:
n_clusters =3

In [74]:
def perform_kmeans_clustering(dataset, n_clusters):
    kmeans = KMeans(n_clusters=n_clusters, random_state=0)
    labels = kmeans.fit_predict(dataset)
    cluster_centers = kmeans.cluster_centers_
    return labels, cluster_centers

In [76]:
labels, cluster_centers = perform_kmeans_clustering(dataset, n_clusters)

print("Cluster Labels:", labels)
print("Cluster Centers:", cluster_centers)

Cluster Labels: [0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 2 2 0 0 2 0 0 0 0 0 0 0 2 0 1 0 0 0 2 0 0 0 0 0 0 2 0
 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0]
Cluster Centers: [[5.04222222e+01 1.79777778e+01 4.88222222e+01 7.98888889e+00
  1.69055556e+02 3.20055556e+02 1.87300000e+02 4.03888889e+02
  7.22222222e-01 1.92222222e+00 3.86666667e+00 2.30000000e+00
  4.92222222e+00 4.03438367e+06]
 [6.10000000e+01 3.00000000e+01 5.40000000e+01 4.00000000e+00
  2.41000000e+02 4.10000000e+02 1.77000000e+02 9.00000000e+02
  1.00000000e+00 2.00000000e+00 6.00000000e+00 3.00000000e+00
  7.00000000e+00 5.94345016e+07]
 [5.45000000e+01 1.76666667e+01 6.59166667e+01 4.16666667e+00
  2.50083333e+02 4.73333333e+02 2.04166667e+02 7.09166667e+02
  9.16666667e-01 1.91666667e+00 5.50000000e+00 5.00000000e+00
  4.41666667e+00 1.18660765e+07]]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(